* {
    font-size: 0;
    margin: 0;
    padding: 0;    
}

a {
    text-decoration : none;
}
body {
    zoom: 150%;
}

.screen-around {
    position: fixed;   
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    overflow: auto;       
}

.background {
    position: relative;
    width: 700px; 
    height: 489px;    
    background-image: url(screen/main2.jpg);    
    background-size: cover;
    margin: auto;
}

.text-big {
    display: inline-block;
    font-family: cursive;
    font-size: 30px;
    color: #bbbfbe;   
    position: absolute; 
    -webkit-user-select: none;
}

.text-big:hover {
    color: #717473
}

.text-big1 {
    top: 185px;
    left: 450px;
}

.text-big2 {
    top: 80px;
    left: 452px;
}

.text-big3 {
    top: 185px;
    left: 62px;
}

.text-big4 {
    top: 80px;
    left: 52px;
    cursor: pointer;     
}

/* Об авторе */
.scr1-block {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 80px;
    left: 52px;
    background: white;
    text-align: center;
    display: none;      
}

.scr1-block-text-little {
    font-size: 12px;
    font-family: sans-serif;
    line-height: 50px;       
}